.dark #about .card {
    background-color: transparent !important;
}
#about .card h5{
    background-color: #b8001d;
    padding: 5px;
}
#about .card h5{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
#about .card p small{
    font-size: 70%;
    color:#888;
    font-style: italic;
}
#about .card h5::before{
    content: "";
    border-top: 10px solid #b8001d;
    border-right: 10px solid transparent;
    border-left: 0 solid transparent;
    position: absolute;
    top: 34px;
    left: 0;
}
#about .header h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}
#about .header p{
    text-align: center;
    max-width: 600px;
    margin: auto;
}