$btn-dark: #2f2f2f;

.dark {
    background-color: #2f302f;
    color: #fff;
    a {
        color: #fff;
    }
    height: 100%;

    .top-shelf {
        background-color: #1f201f;
    }
    .playlists {
        .card {
            background-color: #232323;
            &:hover {
                background-color: #333;
            }
            .card-body {
                color: white;
            }
        }
    }

    .menu {
        .btn {
            border: 1px solid #fff;
            color: white;
            &:hover,&.active {
                background-color: #243565;
            }
        }
    }

    .tag-item {
        color: white;
    }
    .search {
        background-color: transparent !important;
        border: 1px solid #C4C4C4;
        color: #fff !important;
        &:focus {
            border: 1px solid #C4C4C4;
        }
    }

    .search-results {
        background: #2f302f;
        box-shadow: 5px 10px 5px rgba(255,255,255, 0.1);
        
        li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        }
    }
}