.search {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;

}
.searches {
    position: relative;
}

.search-results {
    position: absolute;
    width: 100%;
    z-index: 10;
    padding-left: 0;
    overflow-y: auto;
    max-height: 300px;
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 4px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0, 0.1);
    li {
        list-style-type: none;
        color: #000;
        padding: 0;
        border-bottom: 1px solid rgba(0,0,0, 0.1);
        a {
            display: block;
            padding: 1rem 1rem;
        }
        &:hover {
            background: rgba(0,0,0, 0.1);
            color: #fff;
            a {
                color: red;
            }
        }
        a:hover {
            text-decoration: none;
        
        }
    }
}

.dark {
    .search {
        background-color: transparent !important;
        border: 1px solid #C4C4C4;
        color: #fff !important;
    }
}